<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> Form Prospect</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
        <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            crossorigin="anonymous">
    </head>

    <body>
        <section id="form_container" class="hero is-captain">
            <div class="hero-body">

                <div class="container" style="margin:auto;max-width:1250px;">


                    <p class="title has-text-dark  is-size-3-desktop is-size-4-touch">
                        Nous contacter
                    </p>
                    <hr class="my-0">


                    {% comment %} onsubmit="return checkForm(this);" {% endcomment %}
                    <form class="mt-4" method="post">

                        {% csrf_token %}


                        <div class="columns is-variable is-8 is-touch my-0 py-0">
                            <div class="column my-0 py-0" style="    display:flex;
                    flex-direction:column;
                    justify-content:space-between">

                                <div class="content  has-text-dark is-size-5-desktop is-size-6-touch">

                                    <p>
                                        Please buy our product
                                    </p>

                                </div>

                                <div class="field pb-4-touch">
                                    <label class="label   has-text-dark">Message</label>
                                    <div class="control">
                                        <textarea name="message" type="text" class="textarea  br-0"
                                            placeholder="Vos besoins, vos projets..."></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="column py-0 " style="    display:flex;
                    flex-direction:column;
                    justify-content:space-between">

                                <!-- <section class="section1" style="height:100%;"> -->

                                <div class="field">
                                    <label class="label has-text-dark">Nom</label>
                                    <div class="control has-icons-left">
                                        <input name="lastname" id="lastname" class="input br-0" type="text"
                                            placeholder="Martin">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>


                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label has-text-dark">Prénom</label>
                                    <div class="control has-icons-left has-icons-right">
                                        <input name="firstname" class="input br-0" type="text" placeholder="Jean">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label has-text-dark">Téléphone</label>
                                    <div class="control has-icons-left has-icons-right">
                                        <input name="tel" class="input br-0" type="tel" placeholder="0609234244">
                                        <span class="icon is-small is-left">
                                            <i class="fa-solid fa-phone"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="field ">
                                    <label id="email_label" class="label has-text-dark">Email</label>
                                    <div class="control has-icons-left has-icons-right">
                                        <input name="email" class="input br-0" type="email"
                                            placeholder="jean.martin@mail.fr">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="field pt-4">
                                    <div class="control">
                                        <button type="submit"
                                            class="button is-fullwidth is-centered br-0 has-text-weight-semibold">
                                            <span class="icon">
                                                <i class="fa-solid fa-paper-plane"></i>
                                            </span>
                                            <span>Envoyer</span>
                                        </button>
                                    </div>
                                </div>





                                <!-- </section> -->
                            </div>
                        </div>



                    </form>

                </div>



            </div>
        </section>

    </body>

</html>


{% comment %} <script>
    function checkForm(form) {

        let res = true;

        if (form.lastname.value == "") {
            //alert("Error: error message");
            form.lastname.classList.add('input-wrong');
            res = false && res;
        } else {
            form.lastname.classList.remove('input-wrong');
        }


        if (form.firstname.value == "") {
            //alert("Error: error message");
            form.firstname.classList.add('input-wrong');
            res = false && res;
        } else {
            form.firstname.classList.remove('input-wrong');
        }

        if (form.tel.value == "") {
            //alert("Error: error message");
            form.tel.classList.add('input-wrong');
            res = false && res;
        } else {
            form.tel.classList.remove('input-wrong');
        }

        if (form.email.value == "" || (!form.email.value.includes("@"))) {
            //alert("Error: error message");
            form.email.classList.add('input-wrong');
            res = false && res;
            document.getElementById("email_label").innerHTML =
                "Email<span style='color:red;'> (Doit contenir un @)</span>";
            console.log(email_label);
        } else {
            form.email.classList.remove('input-wrong');
            document.getElementById("email_label").innerHTML = "Email";
        }

        return false;
    }
</script> {% endcomment %}